# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf


Exclude
/*                               export-ignore
/**                              export-ignore

# Include
/addons                         !export-ignore
/addons/                        !export-ignore
/addons/long_scene_manager      !export-ignore
/addons/long_scene_manager/**   !export-ignore

# Include the demo/test folder
/demo_test_scene_manager        !export-ignore
/demo_test_scene_manager/**     !export-ignore